<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
  <svg class="bi pe-none me-2" width="40" height="32">
    <use xlink:href="#bootstrap" />
  </svg>
  <span class="fs-4">Senzing Playground</span>
</a>
<hr>
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="/site/overview.html" class="nav-link active" aria-current="page">
      <i class="bi bi-house me-2"></i>
      <strong>Home</strong>
    </a>
  </li>
  <li class="nav-item">
    <a id="languages" href="#" class="nav-link text-white" aria-current="page">
      <i class="bi bi-globe me-2"></i>
      <strong>Languages</strong>
    </a>
  </li>
  <li>
    <a href="/site/python.html" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16" />
      &nbsp; &nbsp; &nbsp; &nbsp; Python
    </a>
  </li>
  <li>
    <a href="/site/java.html" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16" />
      &nbsp; &nbsp; &nbsp; &nbsp; Java
    </a>
  </li>
  <li>
    <a href="/site/go.html" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16" />
      &nbsp; &nbsp; &nbsp; &nbsp; Go
    </a>
  </li>
  <li>
    <a href="/site/csharp.html" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16" />

      &nbsp; &nbsp; &nbsp; &nbsp; C#
    </a>
  </li>
  <li class="nav-item">
    <a href="/site/tools.html" class="nav-link text-white" aria-current="page">
      <i class="bi bi-tools me-2"></i>
      <strong>Tools</strong>
    </a>
  </li>
</ul>

<hr>
<div class="dropdown">
  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
    data-bs-toggle="dropdown" aria-expanded="false">
    <img src="/img/senzing-icon.png" alt="" width="32" height="32" class="rounded-circle me-2">
    <strong>External sites</strong>
  </a>
  <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
    <li><a class="dropdown-item" href="https:senzing.com">Company site</a></li>
    <li><a class="dropdown-item" href="https://senzing.com/docs/">Documentation</a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="/site/debug.html">Debug</a></li>
    <li><a class="dropdown-item" href="/site/extras.html">Extras</a></li>
  </ul>
</div>