<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
  <span class="fs-3">Senzing Playground</span>
</a>
<hr>
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="/site/overview.html" class="nav-link  text-white" aria-current="page">
      <i class="bi bi-house me-2"></i>
      <strong>Home</strong>
    </a>
  </li>
  <li class="nav-item">
    <a id="bob-languages" href="#" class="nav-link text-white" aria-current="page">
      <i class="bi bi-globe me-2"></i>
      <strong>Languages</strong>
    </a>
  </li>
  <li>
    <a href="/site/python.html" class="nav-link active">
      &nbsp; &nbsp;
      <img src="../images/python-svgrepo-com.svg" alt="Python" width="32" height="32">
      &nbsp; Python </a>
  </li>
  <li>
    <a href="/site/java.html" class="nav-link text-white">
      &nbsp; &nbsp;
      <img src="../images/java-icon.svg" alt="Go" width="24" height="24">
      &nbsp; &nbsp; Java
    </a>
  </li>
  <li>
    <a href="/site/go.html" class="nav-link text-white">
      &nbsp; &nbsp;
      <img src="../images/Go-Logo_White.svg" alt="Go" width="32" height="32">
      &nbsp;Go
    </a>
  </li>
  <li>
    <a href="/site/csharp.html" class="nav-link text-white">
      &nbsp; &nbsp;
      <img src="../images/32px-Logo_C_sharp.svg.png" alt="C-sharp" width="24" height="24">
      &nbsp; &nbsp; C#
    </a>
  </li>
  <li class="nav-item">
    <a href="/site/tools.html" class="nav-link text-white" aria-current="page">
      <i class="bi bi-tools me-2"></i>
      <strong>Tools</strong>
    </a>
  </li>
</ul>

<div class="dropdown">
  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
    data-bs-toggle="dropdown" aria-expanded="false">
  </a>
  <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
    <li><a class="dropdown-item" href="/site/debug.html">Debug</a></li>
    <li><a class="dropdown-item" href="/site/extras.html">Extras</a></li>
  </ul>
</div>