<p>
        The Senzing SDK for Go methods are documented in the following:
<ul>
        <li><a href="https://pkg.go.dev/github.com/senzing-garage/sz-sdk-go/"
                        target="_blank">github.com/senzing-garage/sz-sdk-go</a></li>
        <li><a href="https://pkg.go.dev/github.com/senzing-garage/sz-sdk-go-core/"
                        target="_blank">github.com/senzing-garage/sz-sdk-go-core</a></li>
        <li><a href="https://pkg.go.dev/github.com/senzing-garage/sz-sdk-go-grpc/"
                        target="_blank">github.com/senzing-garage/sz-sdk-go-grpc</a></li>
</ul>
</p>