[pylint]
disable=
    duplicate-code,
    import-error,
    invalid-name,
    line-too-long,
    missing-function-docstring,
    missing-module-docstring,
    unspecified-encoding,
ignore=
    __init__.py,
    docs/source/conf.py
notes=
    FIXME,
