autopep8==2.3.1
black==24.10.0
grpcio==1.67.0
isort==5.13.2
jupyter==1.1.1
jupyterlab-code-formatter==3.0.2
nbconvert==7.16.4
notebook==7.2.2
protobuf==5.28.2
senzing-abstract==0.1.7
senzing-grpc==0.2.3
setuptools==75.2.0
