<!DOCTYPE html>
<html>

<head>
  <title>{{.HtmlTitle}}</title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>

</head>

<body>

  <h1>senzing-tools</h1>

  <h3>Services</h3>

  <table>
    <tr>
      <th>Status</th>
      <th>Service</th>
      <th>Location</th>
      <th>senzing-tools command line option</th>
      <th>Environment variable</th>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="{{.ApiServerStatus}}"
          class="bi bi-circle-fill" viewBox="0 0 16 16">
          <circle cx="8" cy="8" r="8" />
        </svg>
      </td>
      <td>Senzing API Server</td>
      <td>{{if .ApiServerUrl}}<a href="{{.ApiServerUrl}}">{{.ApiServerUrl}}</a> {{end}}</td>
      <td>--enable-senzing-rest-api</td>
      <td>SENZING_TOOLS_ENABLE_SENZING_REST_API</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="{{.SwaggerStatus}}"
          class="bi bi-circle-fill" viewBox="0 0 16 16">
          <circle cx="8" cy="8" r="8" />
        </svg>
      </td>
      <td>Swagger UI</td>
      <td>{{if .SwaggerUrl}}<a href="{{.SwaggerUrl}}">{{.SwaggerUrl}}</a> {{end}}</td>
      <td>--enable-swagger-ui</td>
      <td>SENZING_TOOLS_ENABLE_SWAGGER_UI</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="{{.XtermStatus}}" class="bi bi-circle-fill"
          viewBox="0 0 16 16">
          <circle cx="8" cy="8" r="8" />
        </svg>
      </td>
      <td>XTerm</td>
      <td>{{if .XtermUrl}}<a href="{{.XtermUrl}}">{{.XtermUrl}}</a> {{end}}</td>
      <td>--enable-xterm</td>
      <td>SENZING_TOOLS_ENABLE_XTERM</td>
    </tr>
  </table>

  <p>
    <a href="debug.html">Debug information</a>
  </p>

</body>

</html>