<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <script src="/js/jquery-3.7.1.min.js" type="text/javascript"></script>
  <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
  <script src="/js/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="/js/include-html.js" type="text/javascript"></script>
  <title>Senzing Playground</title>
</head>

<body>
  <main class="d-flex flex-nowrap">

    <div id="left-nav" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;"
      w3-include-html="/component/left-nav.html">
    </div>

    <div class="container">
      <h1>Senzing Playground</h1>
      <p>
        The Senzing Playground let's you explore Senzing from the convenience of your workstation.
        It has support for the Python, Java, Go, and C-sharp programming languages.
        It also has support for the Senzing tools.
      </p>
      <p>
        Choose a topic from the left-hand navigation bar and get started.
      </p>

      <div id="bottom-nav" w3-include-html="/component/bottom-nav.html" />


    </div>



  </main>


  <script type="text/javascript">
    includeHTML();
  </script>
</body>

</html>