<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <script src="/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/js/include-html.js" type="text/javascript"></script>
    <title>Senzing Playground - Python</title>
</head>

<body>
    <main class="d-flex flex-nowrap">
        <div id="left-nav" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;"
            w3-include-html="/component/left-nav-python.html">
        </div>
        <div class="container px-5">
            <div class="col-xs-12" style="height:15px;"></div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/site/home.html">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="/site/python/index.html">Python</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Local development</li>
                </ol>
            </nav>
            <h1>Senzing SDK in my development environment</h1>
            <div id="install-python-package" w3-include-html="/component/install-python-package.html"> </div>
            <p>
                Download and run any of the following files:
            <ol>
                <li><a href="/examples/python/senzing_hello_world.py">senzing_hello_world.py</a>
                    - A simple test of connectivity to Senzing engine.</li>
                <li><a href="/examples/python/senzing_load_truthsets.py">senzing_load_truthsets.py
                    </a> - Load and query the Senzing truth-set-data.</li>
                <li><a href="/examples/python/senzing_load_user_data.py">senzing_load_user_data.py</a>
                    - Load custom data.</li>
                <li><a href="/examples/python/senzing_method_help.py">senzing_method_help.py</a>
                    - Show how to display help.
                </li>
            </ol>
            </p>

            <p>
                Using the files as examples, build your own Python application using the Senzing SDK.
            </p>

            <div id="sdk-doc-python" w3-include-html="/component/sdk-doc-python.html"> </div>
            <div id="serve-grpc" w3-include-html="/component/serve-grpc.html"> </div>
            <div class="col-xs-12" style="height:10px;"></div>
            <div id="bottom-nav" w3-include-html="/component/bottom-nav.html" />
        </div>
    </main>

    <script type="text/javascript">
        includeHTML();
    </script>
</body>

</html>